body {
  background: url("Images/Other/Peach.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.account-links {
  font-size: 13px;
}

.other-pages {
  font-size: 14px;
}